<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title> <%=title %></title>
    <meta name="description" content="">
    <meta name="author" content="Zakaria Ahmed">
  </head>
  <body>
   <h1>Index Main</h1> 
  </body>
</html>  